<footer class="text-center-xs space--xs bg--dark ">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <ul class="list-inline">
                    <li>
                        <a href="/testimonios">
                            <span class="h6 type--uppercase">Testimonios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/curriculum">
                            <span class="h6 type--uppercase">Curriculum</span>
                        </a>
                    </li>
                    <li>
                        <a href="/contacto">
                            <span class="h6 type--uppercase">Contacto</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">

                    <!-- <li>
                        <a href="#">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/docernestomoran">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-7">
                <span class="type--fine-print">
                    UACJ 2018-2024 | Ernesto Morán Gracía
                </span>
                <a class="type--fine-print" href="#"></a>
                <a class="type--fine-print" href="#"></a>
            </div>
            <div class="col-md-5 text-right text-center-xs">
                <a class="type--fine-print" href="#">contacto@moran-uacj.com</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
<i class="stack-interface stack-up-open-big"></i>
</a>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/jquery.steps.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/main-public.js"></script>
</body>
</html>