<a id="start"></a>

        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-6">
                            <div class="menu-horizontal text-left">
                                <a href="{{site.url}}" style="color: #000 !important; text-transform: uppercase; font-weight: 900">
                                    Ernesto Morán García
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 hidden-xs">
                            <div class="bar__module">
                                <div class="menu-horizontal text-left">
                                    <a href="{{site.url}}/" id="logo" style="color: #000 !important; text-transform: uppercase; font-weight: 900">
                                        Ernesto Morán García
                                    </a>
                                </div>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-8 col-md-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="{{site.url}}/">Inicio</a></span>
                                    </li>
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/mensaje">Mensaje</a></span>
                                    </li>
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/curriculum">Curriculum</a></span>
                                    </li> 
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/testimonios">Testimonios</a></span>
                                    </li>       
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/contacto">Contacto</a></span>
                                    </li>                            
                                </ul>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                
            </nav>
            <!--end bar-->
        </div>