<a id="start"></a>

        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="menu-horizontal text-left">
                                <a href="{{site.url}}" style="color: #000 !important; text-transform: uppercase; font-weight: 900">
                                    Ernesto Morán García
                                </a>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 hidden-xs">
                            <div class="bar__module">
                                <div class="menu-horizontal text-left">
                                    <a href="{{site.url}}/" id="logo" style="color: #000 !important; text-transform: uppercase; font-weight: 900">
                                        Ernesto Morán García
                                    </a>
                                </div>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-8 col-md-8 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="{{site.url}}/">Inicio</a></span>
                                    </li>
                                    <li class="dropdown">
                                            <span class="dropdown__trigger">Ejes</span>
                                            <div class="dropdown__container" >
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-8 col-lg-8 dropdown__content">
                                                                <ul >
                                                                    <li>1. <a href="/hacia-una-mejor-vida-academica">Hacia Una Mejor Vida Académica</a></li>
                                                                    <li>2. <a href="/formacion-integral-del-estudiante">Formación Integral del Estudiante</a></li>
                                                                    <li>3 <a href="/investigacion-cientifica-y-posgrado">Investigación Científica Y Posgrado</a></li>
                                                                    <li>4. <a href="/emprendimiento-y-liderazgo-academico">Emprendimiento Y Liderazgo Académico</a></li>
                                                                    <li>5. <a href="/vinculacion-comunitaria-y-promocion-de-la-cultura">Vinculación Comunitaria Y Promoción De La Cultura</a></li>
                                                                    <li>6. <a href="/internacionalizacion">Internacionalización</a></li>
                                                                    <li>7. <a href="/democratizacion-de-la-vida-academica">Democratización De La Vida Académica Y Defensa De Los Derechos Universitarios</a></li>
                                                                    <li>8.  <a href="/desarrollo-institucional">Desarrollo Institucional</a></li>        
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                        </li>
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/mensaje">Mensaje</a></span>
                                    </li>
                                    <li class="">
                                        <span class="dropdown__trigger"><a href="/curriculum">Curriculum</a></span>
                                    </li>                                 
                                </ul>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                
            </nav>
            <!--end bar-->
        </div>