<section>
        <div class="container">
                <h4 class="type--uppercase text-center"><b>EJES</b></h4>
                <p class="text-center"><img src="{{site.url}}/img/seprator-ic.png" alt=""></p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <i class="icon icon--md icon-Student-Hat"></i>
                            <h4>HACIA UNA MEJOR VIDA ACADÉMICA</h4>
                            <p>
                                    Considero una prioridad elevar el nivel y la competitividad de los programas académicos y brindar motivación y confianza para el desarrollo de la actividad docente dentro de la institución.
                            </p>
                            <a href="/hacia-una-mejor-vida-academica">
                                Ver acciones del eje
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <i class="icon icon--md icon-Students"></i>
                            <h4>FORMACIÓN INTEGRAL DEL ESTUDIANTE</h4>
                            <p>
                                    La formación integral del estudiante además de excelencia académica, demanda atención complementaria que oriente sus capacidades diversas en destrezas físicas, inquietudes intelectuales y de responsabilidad ciudadana.
                            </p>
                            <a href="/formacion-integral-del-estudiante">
                                Ver acciones del eje
                            </a>
                            
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <i class="icon icon--md icon-Microscope"></i>
                            <h4>INVESTIGACIÓN CIENTÍFICA Y POSGRADO</h4>
                            <p>
                                    El reto es que esas actividades de investigación se reflejen en un mayor impacto en la empresa y en la comunidad. Como gestor y de manera conjunta con los investigadores, mi compromiso es facilitar el logro de esa meta.
                            </p>
                            <a href="/investigacion-cientifica-y-posgrado">
                                Ver acciones del eje
                            </a>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--md icon-Handshake"></i>
                                <h4>EMPRENDIMIENTO Y LIDERAZGO PROFESIONAL</h4>
                                <p>
                                        Identificaremos las disciplinas en que podemos tomar liderazgo académico en el país y/o en el extranjero.
                                        Se fomentará ampliamente las habilidades de liderazgo y emprendimiento en los estudiantes.
                                </p>
                                <a href="/emprendimiento-y-liderazgo-academico">
                                    Ver acciones del eje
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--md icon-Conference"></i>
                                <h4>VINCULACIÓN COMUNITARIA Y PROMOCIÓN DE LA CULTURA</h4>
                                <p>
                                    Se Trabajará en una mayor preparación de los estudiantes dentro del sector privado. Se otorgará mayores recursos y fomento a las actividades culturales.
                                </p>
                                <a href="/vinculacion-comunitaria-y-promocion-de-la-cultura">
                                    Ver acciones del eje
                                </a>
                                
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                <i class="icon icon--md icon-Globe"></i>
                                <h4>INTERNACIONALIZACIÓN</h4>
                                <p>
                                    Se debe encauzar esfuerzos de movilidad y formación de redes internacionales hacia instituciones educativas de los países que cuenten con mayor presencia industrial en la ciudad, destacando China, Alemania, Estados Unidos, Francia, Canadá y Japón, entre otros.
                                </p>
                                <a href="/internacionalizacion">
                                    Ver acciones del eje
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col-md-4">
                                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                    <i class="icon icon--md icon-Scale"></i>
                                    <h4>DEMOCRATIZACIÓN DE LA VIDA ACADÉMICA Y DEFENSA DE LOS DERECHOS UNIVERSITARIOS</h4>
                                    <p>
                                            El aspecto de la vida universitaria en el que más se debe avanzar es en la transformación de la normatividad electoral y en los procesos, métodos y prácticas de elección de los representantes universitarios en los diversos niveles.
                                    </p>
                                    <a href="/democratizacion-de-la-vida-academica">
                                        Ver acciones del eje
                                    </a>
                                </div>
                                <!--end feature-->
                            </div>
                            <div class="col-md-4">
                                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                                    <i class="icon icon--md icon-University"></i>
                                    <h4>DESARROLLO INSTITUCIONAL</h4>
                                    <p>
                                        Establecer un sistema de transporte entre institutos. Crear espacios para el intercambio de ideas, plazas y áreas deportivas. Hacer autofinanciables algunas de las instalaciones de la Universidad.
                                    </p>
                                    <a href="/desarrollo-institucional">
                                        Ver acciones del eje
                                    </a>
                                    
                                </div>
                                <!--end feature-->
                            </div>
                            
                        </div>
                <!--end of row-->
            </div>
            
</section>