
<section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs" style="background-color: rgba(0,0,0, .04);">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-lg-6 mt-0">
                <span>UNA SOLA META... UNA UACJ MÁS GRANDE</span>
                
                <h2 style="margin-top: .4em;">
                    VALOR A LA GENTE <br>
                    Y FORMACIÓN CON FUTURO
                </h2>
                
                <p class="lead">
                    En este documento presento la visión de gobierno universitario con la que estoy seguro lograremos hacer de la Universidad Autónoma de Ciudad Juárez una Institución de referencia nacional e internacional.
                </p>
                <a class="btn btn--primary type--uppercase" href="/mensaje" style="background-color: #415BBA; border-color:#415BBA;">
                    <span class="btn__text" >
                        Ver mensaje completo
                    </span>
                </a>

            </div>
            <div class="col-md-6">
                <img alt="Ernesto Morán García" src="https://res.cloudinary.com/dffanfh03/image/upload/v1532552575/avatar-large-3.png" />
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>